import random
import os
import re
import csv
import glob
import json
import pickle
import re
from tqdm import tqdm
from pathlib import Path

import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

import spacy
import spacy.cli
from spacy.tokens import Doc, Span, Token
from pymorphy3 import MorphAnalyzer
from typing import List, Tuple, Set, Dict, Optional, Any, Union

import relations
from graph.higher_dim_graph import Graph, visualize_graph
from graph.edge import Edge
from relations import get_relations, is_russian
from build_save_graphs import build_and_save_graphs